
{{#each searchedArtists}}   
<ul>
    <li>
        {{this.name}}
        <img src="{{this.images.[0].url}}" alt="{{this.name}}">
        <button> <a href="/albums/{{this.id}}"> Views Albums</a></button>        
    </li>
</ul>
{{/each}}

