<section id="home-container">

    <h1>Express Spotify</h1>
    
        <div id="search-container">
            <form action="/artist-search" method="GET">
                <input id="search" type="search" name="artistName" placeholder="Artist name">
                    <br>
                <button id="submit-button" type="submit">Search for an Artist</button>
            </form>
        </div>

</section>
